[submodule "Libraries/CocoaMW/Libraries/asi-http-request"]
	path = Libraries/CocoaMW/Libraries/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "Libraries/CocoaMW/Libraries/json-framework"]
	path = Libraries/CocoaMW/Libraries/json-framework
	url = https://github.com/stig/json-framework.git
